.flex-row{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.flex-row{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    margin-left: 10px;
}

.avatar{
    width: 80px;
    height:80px;
    border-radius: 50%;
}

.flag{
    width: 50px;
    height: 25px;
}

.bordered{
    border: 1px solid lightgray;
    border-radius: 5%;
    padding:10px;
    margin: 5px;
}

